
body {
  background-image: url('/images/stardust.jpg');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  /*margin-left: 700px;*/
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

input[type="text"], textarea {
  background-color: grey;
}

button {
background-color: black;
}

.meetup-list-box1 {
  overflow: hidden;
  height: 1000px;
  position: relative;
  background-color: rgba(109, 104, 120, 0.2);
  margin-right: 250px;
  margin-top: 10px;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.meetup-list-box2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
 right: -15px;
 overflow: auto;
}

.meetup-title {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align:left;
  font-size: 20px;
  color:#fff;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 3s ease-out infinite;
  text-shadow:0px 0px 5px yellow,
      0px 0px 7px gold;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px gold,
      0px 0px 25px gold,
      0px 0px 25px lightblue,
      0px 0px 25px lightblue}
}

.meetup-title-show {
  color:#fff;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 3s ease-out infinite;
  text-shadow:0px 0px 5px yellow,
      0px 0px 7px gold;
}


.meetup-info {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.meetup-link a:hover {
  color: rgba(109, 104, 120, 0.7);
}
