<h2>New Meetup form page:</h2>
</br>
<div class='form'>
  <form id='' action="/new" method="POST">
    <label id="name">Meetup Name:</label>
    
    <input type="text" id="name" name="meetup[name]" required>
    <br>
    <br>
    <label id="location">Meetup Location:</label>
    <input type="text" id="location" name="meetup[location]" required>
    <br>
    <br>
    <label id="description">Meetup Description:</label>
    <input type="text" id="description" name="meetup[description]" required>

    <button id="new-meetup-button">Submit</button>
  </form>
</div>
